body{
	font-variant: small-caps;
}

#logo{
	height: 80px;
}
#jumbotron{
	height: 100%;
	position: relative;
	overflow: hidden;
}
.jumbo-container{

   background: url(../images/jumbo_bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#jumbotron img{

}